<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
    <script src="~/js/player.js"></script>
    <script src="~/js/videoTest.js"></script>
</head>
<body>
    <h1>Test your dash file</h1>
    <div>
        <input type="text" name="manifestUrl" id="manifestUrl" /> URL do manifesto
        <input type="text" name="authorization" id="authorization" /> Autorização
        <input type="button" name="button" onclick="setupManifestUrl()" value="Play" />
    </div>
    <div>
        <video id="video" width="640" height="360" crossOrigin="anonymous" controls></video>
    </div>
</body>
</html>
