<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Real-Time Notifications</title>
</head>
<body>

    <div id="messages"></div>

    <script src="~/js/webSocket.js"></script>
</body>
</html>